@font-face {
  font-family: Schwifty Font;
  src: url(/fonts/get_schwifty.ttf);
  font-display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/Inicio_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Schwifty Font ;
}

/*Navegador etc-----------------------------------------------------------------------------------------------------------------*/


/*Caja de contenido-----------------------------------------------------------------------------------------------------------------*/

.conten{
    display:flex;
    flex-wrap: wrap;
}

/*Izquierda-----------------------------------------------------------------------------------------------------------------*/

.left {
    height: 100%;
    width: 30%;
    flex-wrap: wrap;
}

.news{
    width: 75%;
    height: 16rem;
    border: 4px rgb(0, 255, 12) solid;
    border-radius: 16%;
    display:inline-block;
    margin: 1rem;
    margin-bottom: 0rem;
    margin-left: 5rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.news:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 12px rgb(0, 255, 12);;
}

/*Derecha-----------------------------------------------------------------------------------------------------------------*/

.right {
    height: 100%;
    width: 70%;
    flex-wrap: wrap;
}

.popular{
    width: 80%;
    height: 30rem;
    border: 4px rgb(0, 255, 12) solid;
    border-radius: 16%;
    margin: auto;
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.popular:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 12px rgb(0, 255, 12);;
}


.coments{
    width: 100%;
    height: 20rem;
    margin: auto;
    margin-top: 1rem;  
    display: flex;
}

.coment{
    width: 46%;
    height: 18rem;
    border: 4px rgb(0, 255, 12) solid;
    border-radius: 16%;
    margin: 1rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.coment:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 12px rgb(0, 255, 12);;
}
