@font-face {
  font-family: Schwifty Font;
  src: url(/fonts/get_schwifty.ttf);
  font-display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/Inicio_bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Schwifty Font ;
    color:rgb(0, 89, 255);
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke: 0.01px rgb(0, 255, 12);  
    background-attachment: fixed;
    
}

/*Caja de contenido-----------------------------------------------------------------------------------------------------------------*/

.conten{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    gap: 4rem;
}

/*Derecha-----------------------------------------------------------------------------------------------------------------*/

.right {
    width: 60%;
    flex-wrap: wrap;
    min-width: 200px;
    height: 100vh;
}

.popular{
    width: 80%;
    height: 30rem;
    border: 4px rgb(0, 255, 12) solid;
    border-radius: 16%;
    margin: auto;
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.popular:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 12px rgb(0, 255, 12);;
}


.coments{
    width: 100%;
    height: 20rem;
    margin: auto;
    margin-top: 1rem;  
    display: flex;
}

.coment{
    width: 46%;
    height: 18rem;
    border: 4px rgb(0, 255, 12) solid;
    border-radius: 16%;
    margin: 1rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.coment:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 12px rgb(0, 255, 12);;
}





.leftgroup {
    width: 35%;
    height: 100vh;
    min-width: 400px;
    flex-wrap: wrap;
    gap: 20px;
}

.leftgroup h2{
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.ultimasNoticias{
    overflow: scroll ;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
}


@media screen and (max-width: 1000px){ 
    body{
        background-image: url(assets/background_movil.jpg);
    }

    .leftgroup{
        width: 100%;
    }

    .right{
        width: 100%;
    }
}







