
header {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    padding-left: 5rem;
}

h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 4.3rem;
    color:rgb(0, 89, 255);
    -webkit-text-stroke: 0.01px rgb(0, 255, 12);
    text-shadow: 0 0 9px rgb(0, 255, 12);
    padding-top: 1rem;
}

.icon {
    width: 5rem;  
    padding-top: 1rem;  
    transition: all 0.5s;
    display: flex;
    flex-wrap: wrap;
    
}

.icon:hover{
    width: 6rem; 
}

ul {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    text-align: center;
    gap: 1rem;
}

li {
    padding-right: 9rem;
    padding-top: 1rem;
}
  
li a {
    display: block;
    color:rgb(0, 89, 255);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    -webkit-text-stroke: 0.01px rgb(0, 255, 12);  
    transition: all 0.5s;
}

li a:hover{
    scale: 1.2;
    text-shadow: 0 0 7px rgb(0, 255, 12);
    color:blue; 
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; 
}


    
input {
display: none;
}



/*-------------------------------------------------Pantalla-Pequeña-----------------------------------------------------*/


@media screen and (max-width: 1000px){ 
    
    header{
        padding: 0%; 
        align-items: center;
        padding: 0rem 0.5rem;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        align-items: center;   
    }
    
    ul{
    display: none;
    }
    
    input:checked  ~ ul{
    display:flex;
    flex-wrap: wrap;
    }
    
    input {
    display: none;
    }
    
    label {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    width: 65px;
    text-align: center;
    align-items: center;
    }
    
    
    li {
    display: flex;
    margin: 0;
    padding: 1px;
    list-style: none;
    border-bottom: 1px solid grey;
    gap: 0;
    }
    
    /*Estilo cuando el mouse pasa encima de cada link del menu*/
  

    li a {
        display: flex;
        color:rgb(0, 89, 255);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        -webkit-text-stroke: 0.01px rgb(0, 255, 12);  
        transition: all 0.5s;
    }

    li a:hover{
        scale: (1.2);
        text-shadow: 0 0 7px rgb(0, 255, 12);
        color:blue; 
    }

    .icon {
        width: 4rem;  
        
    }

    .icon:hover{
        width: 4.5rem; 
    }

    h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 3.3rem;
        
    }
}


